<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
		<title>lab_sys</title>
		<script src="http://pv.sohu.com/cityjson"></script>  
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/init.js"></script>
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/nav.css">
		<link rel="stylesheet" href="css/table.css" />
		<script>
			window.onbeforeunload = function() {
				return "确认退出？";
			}
		</script>
		<style type="text/css">
			html, body {
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
			}
			* {
				font-family: Arial, sans-serif, "微软雅黑";
				font-size: large;
			}
			p {
				display: inline-block;
			}
			a {
				color: black;
				text-decoration: none;
			}
		</style>
	<body>
		<div id="main">
			<table border="1">
				<caption>实验室异常情况</caption>
				<tr>
					<th>序号</th>
					<th>提交时间</th>
					<th>提交人</th>
					<th>位置</th>
					<th>异常描述</th>
					<th>处理状态</th>
					<th></th>
				</tr>
			</table>
		</div>
	</body>
</html>
