<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>lab_sys</title>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/js/init.js"></script>
<script src="__PUBLIC__/js/cfm.js"></script>
<script src="__PUBLIC__/js/disp.js"></script>
<script src="__PUBLIC__/js/set_val.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/header.css">
<link rel="stylesheet" href="__PUBLIC__/css/nav.css">
<link rel="stylesheet" href="__PUBLIC__/css/main_excpsts.css" />
<input type="hidden" name="uname" id="uname" value="{$admin['nam']}" />
<input type="hidden" name="ip" id="ip" />
<style type="text/css">
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    * {
        font-family: Arial, sans-serif, "微软雅黑";
        font-size: large;
    }
    
    p {
        display: inline-block;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
</style>

<body onload="init();disp();set_val()">
    <div id="main">
        <div id="header_wrapper">
            <div id="header">
                <div id="logo"><img src="__PUBLIC__/img/logo.jpg" alt="中山大学" /></div>
                <div id="welcome">欢迎！</div>
            </div>
        </div>
        <div id="navigation_wrapper">
            <div id="navigation">
                <div class="nav"><a href="main_m">主页</a></div>
                <div class="nav"><a href="fbsts">课堂反馈</a></div>
                <div class="nav"><a href="excpsts">异常情况</a></div>
                <div class="nav"><a href="bd">故障统计</a></div>
            </div>
        </div>
        <table border="1">
            <caption>实验室异常情况</caption>
            <tr>
                <th>提交时间</th>
                <th>提交人</th>
                <th>位置</th>
                <th>异常描述</th>
                <th>处理人</th>
                <th>处理状态</th>
                <th>处理方式</th>
                <th>处理时间</th>
                <th></th>
            </tr>
            <volist name="list" id="vo">
                <tr>
                    <td name="dat">{$vo.dat}</td>
                    <td name="id">{$vo.id}&nbsp;{$vo.nam}</td>
                    <td>{$vo.cla}：{$vo.num}号机</td>
                    <td>{:$vo[pc]?"&nbsp;电脑":""}{:$vo[wire]?"&nbsp;网线":""}{:$vo[box]?"&nbsp;电路箱":""}{:$vo[oscp]?"&nbsp;示波器":""}{:$vo[gen]?"&nbsp;函数发生器":"";}</td>
                    <td>{$vo.delid};{$vo.delnam}</td>
                    <td name="sts">{$vo.sts}</td>
                    <td>{$vo.delway}</td>
                    <td>{$vo.deltim}</td>
                    <td>
                        <form action="__URL__/deal_inc" method="POST" style="display: inline-block;">
                            <input type="hidden" name="vo_id1">
                            <input type="hidden" name="vo_dat1">
                            <input type="hidden" name="delWay1">
                            <button name="btn1" type="submit" onclick="return cfm_inc(event);">处理不成功</button>
                        </form>
                        <form action="__URL__/deal_com" method="POST" style="display: inline-block;">
                            <input type="hidden" name="vo_id2">
                            <input type="hidden" name="vo_dat2">
                            <input type="hidden" name="delWay2">
                            <button name="btn2" type="submit" onclick="return cfm_com(event);">处理成功</button>
                        </form>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
</body>

</html>