#form {
    width: 980px;
    margin: 40px auto;
}

.q,
.tit,
.typ {
    width: 80%;
    margin: 0 auto;
}

input[type="text"] {
    width: 50%;
}

.btn_group {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    width: 60px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    left: 37%;
}