table {
    border-collapse: collapse;
    margin: 40px auto;
}

tr {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

th:first-child,
td:first-child,
th:nth-child(6),
td:nth-child(6),
th:nth-child(7),
td:nth-child(7) {
    width: 200px;
}

th:nth-child(2),
td:nth-child(2) {
    width: 240px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 80px;
}

th:nth-child(4),
td:nth-child(4) {
    width: 200px;
}

th:nth-child(5),
td:nth-child(5) {
    width: 100px;
}

td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}