table {
    border-collapse: collapse;
    margin: 30px auto;
}

caption {
    min-width: 300px;
}

tr {
    text-align: center;
    line-height: 30px;
    height: 30px;
}

th:nth-child(1),
td:nth-child(1) {
    width: 300px;
}

th:nth-child(2),
td:nth-child(2) {
    width: 120px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 160px;
}

th:nth-child(4),
td:nth-child(4) {
    width: 180px;
}

td:nth-child(1) {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}