#form {
    width: 980px;
    margin: 40px auto;
}

.choice,
.btn_wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.btn_wrapper {
    width: 130px;
}

.btn {
    width: 60px;
    height: 30px;
}
