#form {
    width: 980px;
    margin: 40px auto;
}

.q {
    width: 80%;
    margin: 0 auto;
}

div {
    line-height: 24px;
}

input[type="text"] {
    width: 60%;
}

.btn_wrapper {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    width: 60px;
    height: 30px;
}