#main {
    width: 980px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr,
th {
    text-align: center;
    line-height: 30px;
}

tr:first-child,
th:first-child,
tr:nth-child(2),
th:nth-child(2) {
    width: 100px;
}

tr:nth-child(n+3),
th:nth-child(n+3) {
    width: 160px;
}

tr:nth-child(7),
th:nth-child(7) {
    width: 200px;
}
