#form {
    width: 980px;
    margin: 40px auto;
}

.choice {
    height: 50px;
    vertical-align: baseline;
}

.choice,
.btn_group {
    width: 80%;
    padding: 5px;
    margin: 0 auto;
}

.btn {
    width: 60px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    left: 37%;
}