#form {
    width: 980px;
    margin: 40px auto;
}

.btn_wrapper {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    width: 60px;
    height: 30px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 10px auto;
}

tr {
    line-height: 30px;
}

td {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
}