.btn_wrapper {
    width: 100px;
    margin: 20px auto;
}

.btn {
    width: 60px;
    height: 30px;
    margin: 0 auto;
}

#btn1 {
    width: 100px;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
}

tr {
    text-align: center;
    line-height: 30px;
}

th:first-child,
td:first-child {
    width: 200px;
}

th:nth-child(2),
td:nth-child(2) {
    width: 240px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 80px;
}

th:nth-child(4),
td:nth-child(4) {
    width: 200px;
}

td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

td>a:link,
td>a:hover,
td>a:active {
    color: blue;
}

td>a:visited {
    color: purple;
}