#form {
    width: 980px;
    margin: 40px auto;
}

.btn_group {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    width: 60px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    left: 37%;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px auto;
}

tr {
    height: 30px;
    line-height: 30px;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
    width: 20%;
}