table {
    border-collapse: collapse;
    margin: 30px auto;
}

tr {
    text-align: center;
    line-height: 30px;
    height: 30px;
}

#stat_data td {
    width: 180px;
}

#stat_data td:nth-child(1) {
    width: 350px;
}

#stat_data tr:nth-child(even) td:nth-child(1) {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

#unsubmit_list td:nth-child(1) {
    width: 120px;
}

#unsubmit_list td:nth-child(2) {
    width: 100px;
}

#unsubmit_list td:nth-child(3) {
    width: 180px;
}

#score_list td:nth-child(1),
#notpass_list td:nth-child(1) {
    width: 120px;
}

#score_list td:nth-child(2),
#notpass_list td:nth-child(2) {
    width: 100px;
}

#score_list td:nth-child(3),
#notpass_list td:nth-child(3) {
    width: 150px;
}

#score_list td:nth-child(4),
#notpass_list td:nth-child(4) {
    width: 180px;
}
#score_list td:nth-child(5),
#notpass_list td:nth-child(5) {
    width: 100px;
}