#navigation_wrapper {
	width: 100%;
	height: 55px;
	background: #EEE;
}

#navigation {
	width: 980px;
	line-height: 55px;
	margin: 0 auto;
}

.nav {
	display: inline-block;
	padding-left: 20px;
	font-size: large;
	font-family: Arial, sans-serif, "微软雅黑";
}
