table {
    border-collapse: collapse;
    margin: 30px auto;
}

tr {
    text-align: center;
    line-height: 30px;
}

tr:first-child,
tr:nth-child(2) {
    width: 185px;
}

tr:nth-child(3) {
    width: 150px;
}

tr:nth-child(4) {
    width: 250px;
}

tr:nth-child(5) {
    width: 160px;
}

tr:nth-child(6) {
    width: 180px;
}

tr:nth-child(7) {
    width: 220px;
}

tr:nth-child(8) {
    width: 160px;
}

tr:last-child {
    width: 80px;
}