<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>lab_sys</title>
    <input type="hidden" name="uname" id="uname" value="{$admin['nam']}" />
    <link rel="stylesheet" href="__PUBLIC__/css/header.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main_log.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/init.js"></script>
    <style type="text/css">
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        * {
            font-family: Arial, sans-serif, "微软雅黑";
            font-size: large;
        }
        
        p {
            display: inline-block;
        }
        
        a {
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body onload="init()">
    <div id="header_wrapper">
        <div id="header">
            <div id="logo"><img src="__PUBLIC__/img/logo.jpg" alt="中山大学" /></div>
            <div id="welcome">欢迎！</div>
        </div>
    </div>
    <div><p class = "title">各课室机器故障情况表</p></div>
    <table border = "1">
        <tr>
            <th>课室</th>
            <th>机号</th>
            <th>电脑故障数</th>
            <th>导线故障数</th>
            <th>电路箱故障数</th>
            <th>示波器故障数</th>
            <th>函数发生器故障数</th>
            <th>其他故障数</th>
        </tr>
        <volist name="list" id="vo" offset="{$page}" length='10'>
            <tr>
                <td name = "cla">{$vo.cla}</td>
                <td name = "num">{$vo.num}</td>
                <td>{$vo.pc}</td>
                <td>{$vo.wire}</td>
                <td>{$vo.box}</td>
                <td>{$vo.oscp}</td>
                <td>{$vo.gen}</td>
                <td>{$vo.oth}</td>
            </tr>
        </volist>
    </table>
    <form action="__URL__/page_change" method="POST" style="display: inline-block;">
        <input name = "page_change" type = "hidden" value = 0/>
        <button name="btn1" type="submit" >上一页</button>
    </form>
    <form action="__URL__/page_change" method="POST" style="display: inline-block;">
        <input name = "page_change" type = "hidden" value = 1/>
        <button name="btn2" type="submit" >下一页</button>
    </form> 
</body>

</html>